Repository ts020/clatelier: changes, and which lefthook commands are due for each by the changed paths.
All: biome, typecheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome:
      glob: "*.{js,ts,jsx,tsx,json}"
      run: pnpm biome check --write {staged_files}
      stage_fixed: true
    typecheck:
      glob: "*.{ts,tsx}"
      run: pnpm typecheck

pre-push:
  commands:
    test:
      run: pnpm test

feat(cli): add browser auto-open on startup
  apps/cli/src/cli.ts
Due: biome, typecheck

docs: add work-in-progress notice to README
  README.md
Due: none

fix(ci): remove duplicate pnpm version specification
  .github/workflows/ci.yml
Due: none

chore: sync pnpm-lock.yaml with workspace dependencies
  pnpm-lock.yaml
Due: none

chore: align Node.js version to 24.11.1
  .github/workflows/ci.yml
  .mise.toml
Due: none

fix(cli): use workspace dependency for @clatelier/server
  .github/workflows/ci.yml
  apps/cli/package.json
  apps/cli/src/cli.ts
  pnpm-lock.yaml
Due: biome, typecheck

fix(lint): exclude public directory from biome
  biome.json
Due: biome

fix(ci): correct test command
  .github/workflows/ci.yml
Due: none
